.header-wrap{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    transition: all 300ms ease;
    &.active{
        background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.0));
    }
    .container{
        @include containerWidth;
        margin: 0px auto;
        display: flex;
        align-items: center;
        .logo{
            padding-top: 10px;
            width: 90px;
            height: 70px;
            background-image: url("../../images/logo_white.svg");
            background-size: 70px;
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 200ms ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }
        }
        .menu-items{
            flex:1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-family:"HN-Bold";
            .mitem{
                margin: 5px 10px;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 200ms ease;
                text-transform: uppercase;
                font-size: 16px;
                cursor: pointer;
                color: #fff;
                &:hover{
                    background-color: rgba(255,255,255,0.5);
                }
            }
        }
    }
}