.home-wrapper{
    position: relative;
    .imgg{
        position: absolute;
        object-fit: cover;
        width: 100%;
        max-height: 100vh;
        background-color: #fff;
        transition: opacity 900ms ease-in-out, transform 10s linear;
        z-index: 10;
    }
    .sec{
        overflow: hidden;
        .mask{
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0px;
            z-index: 111;
            background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3));
        }
        .inner-container{
            &.flexible{
                display: flex;
                align-items: center;
            }
            max-width: 1188px;
            margin: 0px auto;
            position: relative;
            z-index: 200;
            height: 100%;
            box-sizing: border-box;
            .sec-title{
                font-weight: 800 !important;
                font-size: calc(2.4vw + 9px) !important;
                width: 900px;
                margin: 0px auto;
                margin-bottom: 15px;
                font-family: "HN-Bold";
                color:#484848;
                .t{
                    color: #ffffff !important;
                    letter-spacing: 1.3px;
                    max-width: 800px;
                    letter-spacing: 1.5px;
                    transition: opacity 500ms ease;
                    text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4) !important;
                }
            }
            .search{
                width: 900px;
                margin:0px auto;
            }
        }
        &.explore{
            //margin-top: -170px;
            margin-top: 50px;
            padding-bottom: 100px;
            .sec-title{
                font-size: 30px;
                margin-left: 0px;
            }
            .exp-list{
                display: flex;
                align-items: center;
                .exp-item{
                    margin: 0px 30px;
                    box-shadow: 0 2px 8px 0 #efefef;
                    border-radius: 3px;
                    background-color: #ffffff;
                    border: solid 1px #e5e5e5;
                    display: flex;
                    align-items: center;
                    padding-right: 20px;
                    cursor: pointer;
                    &:first-child{
                        margin-left: 0px;
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                    .img-bg{
                        background-size: cover;
                        width: 100px;
                        height: 70px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .img-text{
                        font-weight: 500;
                        color: #192125;
                        margin-left: 30px;
                        font-size: 14px;
                        letter-spacing: 1.2px;
                    }
                }
            }
        }   
    }
    .pdf-section{
        //height: 800px;
    }
}

.hello{
    background-color: rgb(255, 255, 0);
    padding: 2px 3px;
    .ht{
        color: #000;
    }
}