.pdf-view-wrap{
    position: relative;
    box-sizing: border-box;
    padding-top: 70px;
    height: 100%;
    
    .pdf-overview{
        width: 270px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
        background-color: #ffffff;
        box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
        padding-top: 90px;
        overflow: hidden;
        padding-bottom: 60px;
        box-sizing: border-box;
        .name-card{
            width: 90%;
            margin: 0px auto;
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
            padding:0px 0px 20px 0px;
            .pdfimg{
                height: 150px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                background-color: #d8d8d8;
            }
            .rw{
                margin: 10px 0px;
                padding: 4px 15px;
                .sech{
                    text-transform: uppercase;
                    color:#777;
                    font-family: "HN-Bold";
                }
                .secc{
                    color: #111;
                }
            }
        }
    }
    .pcontent{
        position: relative;
        height: 100%;
        padding: 30px 30px 60px 300px;
        overflow-y: auto;
        box-sizing: border-box;
        .pcard{
            border-radius: 1px;
            background-color: #ffffff;
            box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
            padding: 33px 38px 40px 35px;
            position: relative;
            max-width: 900px;
            .ribbon{
                position: absolute;
                top:10px;
                left: -6px;
                z-index: 1;
                width: 28px;
            }
            .ptitle{
                font-family: "HN-Bold";
                color:#000;
                font-size: 30px;
                font-weight: 500;
            }
            .pdate{
                font-family: "HN-Regular";
                margin-top: 10px;
                color: #7a7a7a;
            }
            .ptags{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 16px;
                .ptag{
                    color:#4a4a4a;
                    font-size: 11px;
                    font-weight: 500;
                    padding: 3px 7px;
                    border-radius: 2px;
                    margin: 0px 4px;
                    &:first-child{
                        margin-left: 0px;
                    }
                    &.e{
                        background-color: #ffccb5;
                    }
                    &.o{
                        background-color: #ffefd3;
                    }
                }
            }
            .ptext{
                font-family: "Georgia";
                font-size: 21px;
                line-height: 1.38;
                color: #404040;
                margin-top: 40px;
            }
        }
    }
}