@font-face {
    font-family: 'HN-Bold';
    src: url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HN-Medium';
    src: url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HN-Regular';
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}